<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Vacancy</title>
</head>
<body>
<form action="/add" method="POST" th:object="${vacancy}">
    <input type="text" name="title" th:field="*{jobTitle}" placeholder="Job Title" autofocus>
    <input type="text" name="company" th:field="*{companyName}" placeholder="Company Name">
    <input type="number" name="salary" th:field="*{salary}" placeholder="Salary">

    <select>
        <option th:each="experience : ${T(com.example.javacancy.Experience).values()}"
                th:value="${experience}"
                th:text="${experience}">
        </option>
    </select>

    <select>
        <option th:each="location : ${T(com.example.javacancy.Location).values()}"
                th:value="${location}"
                th:text="${location}">
        </option>
    </select>
    <textarea name="jobDescription" id="" cols="30" rows="10" th:field="*{jobDescription}" placeholder="Job Description"></textarea>
    <input type="submit" value="Publish job">
</form>

</body>
</html>