<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JaVacancy</title>
    <link type="text/css" rel="stylesheet" href="Style.css">
</head>

<header>
    <h1> jaVacancy </h1>

</header>

<body>
    <a href="/" >All Vacancies</a>
    <br>


    <select>
        <option value="" selected disabled hidden>Location</option>

    <option href="/location?location=Bergen" >Bergen</option>
    <option href="/location?location=Trondheim" >Trondheim</option>
    <option href="/location?location=Stavanger" >Stavanger</option>

        </select>

    <br>
    <form th:action="'/'" method="post">
        <input type="text" name="title" placeholder="Search for vacancies">
        <input type="submit" value="Search">
    </form>

    <a href="/location?location=Oslo" >Oslo</a>
    <a href="/location?location=Bergen" >Bergen</a>
    <a href="/location?location=Trondheim" >Trondheim</a>
    <a href="/location?location=Stavanger" >Stavanger</a>

    <br>
    <a href="/experience?experienceLevel=Entry" >Entry</a>
    <a href="/experience?experienceLevel=Mid" >Mid</a>
    <a href="/experience?experienceLevel=Senior" >Senior</a>
    <br>
    <a href="/add" >Add vacancy</a>
    <hr>
    <div class="flex-jobs">
    <div th:each="job : ${vacancyList}">
        <a th:text="${job.getJobTitle()}" th:href="'/vacancy/'+${job.getJobId()}"></a>
        <p th:text="${job.getCompanyName()}"></p>
        <hr>
    </div>
</div>
</body>

<footer>
    <div>Copyright © 2020 - jaVacancy | info@jaVacancy.com | 23009070 </div>
    <div id="footerLogo"> jaVacancy </div>
</footer>
</html>