<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JaVacancy</title>
    <link type="text/css" rel="stylesheet" href="Style.css">
</head>

<header>
    <h1> jaVacancy </h1>

</header>

<body>



    <br>

    <!--    Search job vacancies -->
    <div id="search">
    <form th:action="'/'" method="post" th:object="${search}">
        <input type="text" name="title" th:field="*{searchText}" th:placeholder="${searchBar}">
        <input type="submit" value="Search">
    </form>
    </div>
    <br>

    <a href="/" >All Vacancies</a>

    <a href="/location?location=Oslo" >Oslo</a>
    <a href="/location?location=Bergen" >Bergen</a>
    <a href="/location?location=Trondheim" >Trondheim</a>
    <a href="/location?location=Stavanger" >Stavanger</a>

    <br>
    <a href="/experience?experienceLevel=Entry" >Entry</a>
    <a href="/experience?experienceLevel=Mid" >Mid</a>
    <a href="/experience?experienceLevel=Senior" >Senior</a>
    <br>
    <a href="/add" >Add vacancy</a>

    <hr>

<!--    Print job vacancies -->
    <div th:each="job : ${vacancyList}">
        <a th:text="${job.getJobTitle()}" th:href="'/vacancy/'+${job.getJobId()}"></a>
        <p th:text="${job.getCompanyName()}"></p>
        <hr>
    </div>


</body>



<footer>
    <div>Copyright © 2020 - jaVacancy | info@jaVacancy.com | 23009070 </div>
    <div id="footerLogo"> jaVacancy </div>
</footer>
</html>