<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job page</title>
    <link type="text/css" rel="stylesheet" href="Style.css">

</head>
<body>
    <h3 th:text="${job.getJobTitle()}"></h3>
    <p th:text="'Company: ' + ${job.getCompanyName()}"></p>
    <p th:text="'Location: ' + ${job.getLocation()}"></p>
    <p th:text="'Experience: ' + ${job.getExperience()}"></p>
    <p th:text="'Salary: ' + ${job.getSalary()}"></p>
    <p th:text="${job.getJobDescription()}"></p>
    <a href="/">Back To Homepage</a>
</body>
</html>